*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
ion-icon{
    font-size: 17px;
    color: rgb(168, 24, 24);
}
@media(max-width:477px){
    .movie-responsive{
        width: 100%;
        position: relative;
        margin: 0 auto;
        z-index: -1;
    }
    .Wrapper{
        width: 350px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}